.mainCarousel {
  width: 100%;
  overflow-y: hidden;
  .videosListWrp {
    width: 180%;
    transition: 350ms all ease-in;
    .video {
      display: inline-block;
      /* width: 7%; */
      max-width: 260px;
      padding: 0 0.5%;
    }
  }
}
