body,
html {
    position: relative;
    width: 100%;
    min-height: 100vh;
    font-size: $text-size;
    font-family: $bold;

    color: $black;
   
}

body,
main {
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
}

video {
    width: 100%;
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
    color:#ffff;
    &:hover{
      color:$yellow;
    }
}

figure {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    &:hover {
        text-decoration: none;
    }
}
.yellow{
    color: $yellow !important;
}

.title{
    position: relative;
    h2{
        font-family: $heavy;
        font-size: 5em;
    text-transform: uppercase;

    }
    h3{
        font-family: $grafo;
        color: $yellow;
        font-size: 4em;
        position: absolute;
    /*left: 17%;
    top: 43%;*/
    left: 36%;
    top: 51%;
    }
    .note{
        width: 80%;
        margin: 0 auto;
    }
}



.bg-black{
  background-color: $black;
  color: #ffff;
  p,
  span,
  li,
  a{
    color: #ffff;
    
  }
}

.bigText{
    font-size: 3em;
    font-family:$bold;
    line-height: 1.2; 
    position: relative;
    &.happy-text{
        margin-top: 5%;
        margin-bottom: 5%;
        .people{
            margin-left: 19%;
            position: absolute;
            left: 38%;
            width: 100%;
        }
    }
    @media (max-width: $mobile-lg){
        font-size: 1.9em;
        line-height: 1; 
    }
}
.all-center{
     justify-content: center;
    justify-items: center;
    align-items: center;
}

.all-between{
   justify-content: space-between;
    justify-items: center;
    align-content: center;
    align-items: center;
}
