@font-face {
    font-family: 'BlackDiamond';
    src: url('../src/assets/fonts/BlackDiamond.eot');
    src: url('../src/assets/fonts/BlackDiamond.eot?#iefix') format('embedded-opentype'),
        url('../src/assets/fonts/BlackDiamond.woff2') format('woff2'),
        url('../src/assets/fonts/BlackDiamond.woff') format('woff'),
        url('../src/assets/fonts/BlackDiamond.ttf') format('truetype'),
        url('../src/assets/fonts/BlackDiamond.svg#BlackDiamond') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GreycliffCF-Bold';
    src: url('../src/assets/fonts/GreycliffCF-Bold.eot');
    src: url('../src/assets/fonts/GreycliffCF-Bold.eot?#iefix') format('embedded-opentype'),
        url('../src/assets/fonts/GreycliffCF-Bold.woff2') format('woff2'),
        url('../src/assets/fonts/GreycliffCF-Bold.woff') format('woff'),
        url('../src/assets/fonts/GreycliffCF-Bold.ttf') format('truetype'),
        url('../src/assets/fonts/GreycliffCF-Bold.svg#GreycliffCF-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GreycliffCF-DemiBold';
    src: url('../src/assets/fonts/GreycliffCF-DemiBold.eot');
    src: url('../src/assets/fonts/GreycliffCF-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('../src/assets/fonts/GreycliffCF-DemiBold.woff2') format('woff2'),
        url('../src/assets/fonts/GreycliffCF-DemiBold.woff') format('woff'),
        url('../src/assets/fonts/GreycliffCF-DemiBold.ttf') format('truetype'),
        url('../src/assets/fonts/GreycliffCF-DemiBold.svg#GreycliffCF-DemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GreycliffCF-Heavy';
    src: url('../src/assets/fonts/GreycliffCF-Heavy.eot');
    src: url('../src/assets/fonts/GreycliffCF-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../src/assets/fonts/GreycliffCF-Heavy.woff2') format('woff2'),
        url('../src/assets/fonts/GreycliffCF-Heavy.woff') format('woff'),
        url('../src/assets/fonts/GreycliffCF-Heavy.ttf') format('truetype'),
        url('../src/assets/fonts/GreycliffCF-Heavy.svg#GreycliffCF-Heavy') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


