.brandLogo {
    width: 23%;
    height: 150px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    @media (max-width: $mobile-lg){
        width: 48%;
    height: 100px
    }
    
    &.b1 {
        background-image: url(../src/assets/images/chedraui.png);
    }
    &.b2 {
        background-image: url(../src/assets/images/vegas.png);
    }
     &.b3 {
        background-image: url(../src/assets/images/femsa.png);
    }
      &.b4 {
        background-image: url(../src/assets/images/nikon.png);
    }
      &.b5 {
        background-image: url(../src/assets/images/posadas.png);
    }
      &.b6 {
        background-image: url(../src/assets/images/casa.png);
    }
      &.b7 {
        background-image: url(../src/assets/images/klenex.png);
    }
      &.b8 {
        background-image: url(../src/assets/images/prisa.png);
    }
      &.b9 {
        background-image: url(../src/assets/images/fox.png);
    }
      &.b10 {
        background-image: url(../src/assets/images/uniliver.png);
    }
      &.b11 {
        background-image: url(../src/assets/images/nfl.png);
    }
      &.b12 {
        background-image: url(../src/assets/images/bunge.png);
    }
    
}

.textureWrp{
   width: 30%;
    height: 30%;
    /* height: 100%; */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
  background-image: url(../src/assets/images/texture.png);
  background-color: $black;
  h2{
    color: #fff;
  }
}


.videoWrp{
   height: 80vh;
    
}


.brandsWrp{
   height: 80vh;
    
}

.rrWrp{
    height: 80vh;
  .logo{
    max-width: 290px;
  }
}

.brandsVideoWrp {
    height: 80vh;
    justify-content: center;
    justify-items: center;
    align-items: center;
    button{
      color:#ffff;
    }
}

.doWrp{
   height: 50vh;
    
}

  .contactWrp{
     height: 50vh;

     .icons{
        display: inline-block;
        width: 73px;
    height: 55px;
vertical-align: middle;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;

           &.tel{
            background-image: url(../src/assets/images/cel.svg);
          }
          &.email{
            background-image: url(../src/assets/images/mail.svg);
          }
     } 
  }
  
  .arrow{
        display: inline-block;
        width: 32px;
    margin-top: 3%;
    height: 35px;
        vertical-align: middle;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;


          &.leftButton{
            background-image: url(../src/assets/images/arrow-l.svg);
          }

          &.rightButton{
            background-image: url(../src/assets/images/arrow-r.svg);
          }
  }