#proyects{
	text-align: center;
	.videoWrp{
		.title{
			/*position: relative;*/
			.titleTexture{
				width: 100%;
			    max-width: 573px;
			    position: absolute;
			    top: 50%;
			    left: 10%;
			    z-index: 5;
			}

			h2{
				top: 4%;
			    left: 0;
			    text-align: left;
				span{
					font-size: .8em;
    				position: absolute;
    				top: 75%;
				}
			}
			h3{
				position: absolute;
				top: 105%;
				left: 23%;
				font-size: 4.5em;
			}
		}
	}
	.bigText{
		
			text-align: left;
		
	}

	.videosListWrp{
		text-transform: uppercase;
	}
	.texture-line{
		width: 100%;
      height: 25px;
      display:  block;
      margin: 5% 0;
       background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      display: inline-block;
    background-image: url(../src/assets/images/texture.png);
	}
	p{
		padding: 1% 0;
	}
	
}