// colors

$yellow: #E7B631;
$black: #272728;



// fonts


$text-size: 16px;

$title-size: 30px;
$title-size-mob: 22px;

$subtitle-size: 30px;
$btn-text-size:18px;
$link-size: 16px;
$tab: 18px;

$bold: 'GreycliffCF-Bold', sans-serif;
$demi: 'GreycliffCF-DemiBold', sans-serif;
$grafo: 'BlackDiamond', sans-serif;
$heavy: 'GreycliffCF-Heavy', sans-serif;



// media queries
$desktop-xl: 1680px;
$desktop-lg: 1480px;
$desktop-md: 1280px;
$desktop-sm: 1025px;

$tablet-xl: 1024px;
$tablet-lg: 992px;
$tablet-md: 991px;
$tablet-sm: 768px;

$mobile-xl: 767px;
$mobile-lg: 680px;
$mobile-md: 580px;
$mobile-sm: 480px;

$input-h: 42px;
$sec-height: 88vh;
